#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.animated-gradient {
    background: linear-gradient(180deg, #8d67ff, #261161);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
  }

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.porple {
  background-color: white;
  color: #301e61;
}

.Header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  background-color: #301e61;
  color: white;
}

.BoxBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
  border-radius: 30px;
  height: 400px;
  width: 500px;
  padding: 0px 0px 30px;
  background-color: #301e61;
  color: white;
  justify-content: space-between;

}

.LoginRegisterBoxes {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 60px;
  justify-content: space-around;
}

.Title {
  margin: 0;
  padding-top: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #333;
  font-family: 'Luckiest Guy', cursive;
}