.game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background-color: #F8F9FA;
    border: 2px solid black;
    border-radius: 7px;
    width: 1000px;
    margin: 20px 0px 0px;
    padding: 20px;
}

.chess {
    display: grid;
    justify-content: center;
    grid-template-columns: calc(0.25 * var(--square-size)) calc(8 * var(--square-size));
}