.board {
    display: grid;
    position: relative;
}

.squares {
    display: grid;
    grid-template-columns: repeat(8, var(--square-size));
    grid-template-rows: repeat(8, var(--square-size));
    width: calc(8 * var(--square-size));
}

.square-light {
    background-color: var(--square-light);
}

.square-dark {
    background-color: var(--square-dark);
}